* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    background-color: #eff5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 940px;
    min-height: 600px;
    padding: 16px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
    display: flex;
    margin: 0 15px;


    &__decor {
        width: 274px;
        height: 568px;
        border-radius: 10px;
        background-image: url(../images/bg-sidebar-desktop.svg);
        background-repeat: no-repeat;
        padding: 40px 0 0 32px;
        flex-shrink: 0;
    }

    &__page {
        padding: 56px 100px 32px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #022959;
        margin-bottom: 12px;
    }

    &__sub-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #9699AA;
        margin-bottom: 35px;
    }

    &__input-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__label {
        font-size: 14px;
        font-weight: 400;
        color: #022959;
        position: relative;
    }

    &__error {
        display: block;
        opacity: 0;
        color: #EE374A;
        font-weight: 700;
        position: absolute;
        top: 20px;
        right: 0;
        transition: all .5s;
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid #D6D9E6;
        border-radius: 8px;
        margin-top: 8px;
        padding: 11px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        color: #022959;
        outline-color: #483EFF;

        &::placeholder {
            color: #9699AA;
        }

        &--error {
            border: 1px solid #EE374A;


            &+.form__error {
                opacity: 1;
                transform: translateY(-20px);
            }
        }
    }

    &__plan-box {
        display: flex;
        gap: 18px;
        margin-bottom: 45px;
    }

    &__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__addons-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        &--first {
            justify-content: end;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: 500;
        color: #9699AA;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: #022959
        }
    }

    &__btn {
        padding: 14px 24px;
        background-color: #022959;
        border: none;
        outline: transparent;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: #164A8A;
        }

        &--confirm:hover {
            background-color: #928CFF;
        }
    }
}

.plan-item {
    width: 138px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #D6D9E6;
    padding: 20px 16px;
    background-repeat: no-repeat;
    background-position: 16px 20px;
    background-size: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    transition: border .3s;

    &:hover {
        border: 1px solid #acaaf5;
    }

    &:nth-child(1) {
        background-image: url(../images/icon-arcade.svg);
    }

    &:nth-child(2) {
        background-image: url(../images/icon-advanced.svg);
    }

    &:nth-child(3) {
        background-image: url(../images/icon-pro.svg);
    }


    &--select {
        border: 1px solid #483EFF;
        background-color: #F8F9FF;
    }

    &__title {
        color: #022959;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 7px;
    }

    &__price {
        color: #9699AA;
    }

    &__gift {
        display: none;
        font-size: 12px;
        color: #022959;
        margin-top: 6px;
    }
}

.switcher {
    width: 38px;
    height: 20px;
    border-radius: 10px;
    background-color: #022959;
    display: flex;
    position: relative;

    &__radio {
        display: none;
    }

    &__label {
        display: block;
        height: 18px;
        width: 18px;
    }

    &__spot {
        display: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        margin: 4px;
    }

    &__title {
        position: absolute;
        color: #9699AA;
        font-weight: 700;
        transition: all .3s;
    }

    &__title-month {
        left: -90px;
        top: 0px;
    }

    &__title-year {
        right: -65px;
        top: 0px;
    }

    &__radio:checked {
        &+.switcher__spot {
            display: block;
        }

        &~.switcher__title {
            font-weight: 700;
            color: #022959;
        }
    }
}

.addon-item {
    width: 450px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: border-color .3s;

    &:hover {
        border-color: #acaaf5;
    }

    &--active {
        border-color: #483EFF;
    }

    &__span {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #D6D9E6;
    }

    &__input {
        display: none;

        &:checked {
            &+.addon-item__span {
                background-color: #483EFF;
                background-image: url(../images/icon-checkmark.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: #022959;
        margin-bottom: 7px;
    }

    &__sub-title {
        color: #9699AA;
        line-height: 20px;
    }

    &__cost {
        color: #483EFF;
        line-height: 20px;
    }
}

.check {
    width: 450px;
    background-color: #F8F9FF;
    border-radius: 8px;
    padding: 16px 24px 10px 24px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        &:first-child {
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(150, 153, 170, .3);
        }
    }

    &__addon-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__plan {
        font-size: 16px;
        font-weight: 500;
        color: #022959;
        margin-bottom: 7px;
    }

    &__link {
        transition: color .5s;

        &:hover {
            color: #483EFF;
        }
    }

    &__point {
        color: #9699AA;
        line-height: 20px;
    }

    &__plan-sum {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #022959;
    }

    &__addon-sum {
        line-height: 20px;
        color: #022959;
    }

    &__total {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px auto;

        &-sum {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            color: #483EFF;
        }
    }
}

.gratitude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;

    &__img {
        height: 80px;
        margin-bottom: 16px;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #022959;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #9699AA;
        width: 450px;
        margin: 0 100px;
    }
}

.step {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

    &__num {
        height: 33px;
        width: 33px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: background-color .3s;

        &--active {
            background-color: #BEE2FD;
            color: #022959;
        }
    }

    &__title {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__sub-title {
        font-size: 12px;
        color: #ABBCFF;
        margin-bottom: 4px;
    }
}

.hide {
    display: none;
}

@media(max-width: 950px) {
    .form__decor {
        width: 230px;
    }

    .form__page {
        padding: 40px 50px 32px;
    }
}

@media(max-width: 850px) {
    body {
        height: auto;
    }

    .form {
        flex-direction: column;

        &__decor {
            background-image: url(../images/bg-sidebar-mobile.svg);
            background-size: cover;
            width: 100%;
            height: 175px;
            display: flex;
            justify-content: center;
            gap: 16px;
            padding: 32px 0;
        }

        &__page {
            margin: -70px 15px 0;
            position: relative;
            z-index: 2;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
            padding: 32px 24px;
        }

        &__plan-box {
            flex-direction: column;
        }

        &__nav {
            margin-top: 40px;
        }
    }

    .step__box {
        display: none;
    }

    .plan-item {
        width: 100%;
        height: auto;
        padding: 14px 0 14px 70px;
    }

    .addon-item {
        padding: 13px 16px;
    }

    .gratitude__img {
        margin-top: 80px;
    }
}

@media (max-width: 600px) {
    .form__title {
        font-size: 24px;
    }

    .addon-item {
        width: 100%;
        gap: 16px;

        &__span {
            flex-shrink: 0;
        }
    }

    .check {
        width: 100%;

        &__total {
            width: 100%;
        }
    }
}