html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

body {
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
  background-size: 100% 300px;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.wrapper {
  max-width: 540px;
  width: 100%;
}

.header {
  min-height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 40px;
}
.header__link {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header__btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.header__switcher {
  height: 28px;
}

.app {
  background-color: transparent;
}
.app__new-todo {
  width: 100%;
  height: 65px;
  margin-bottom: 24px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-box {
  height: 100%;
  flex: 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-box__select-icon {
  display: none;
}
.app-box__input {
  display: none;
}
.app-box__input:checked + .app-box__checkbox > .app-box__select-icon {
  display: block;
}
.app-box__input:checked + .app-box__checkbox {
  background-image: url(./images/select-bg.jpg);
}
.app-box__input:checked .app-item__text {
  text-decoration: line-through;
}
.app-box__checkbox {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}
.app__todo-desc {
  border: none;
  outline: transparent;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  padding: 15px 0;
}
.app-list {
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 5px 5px 15px #0b0b0b75;
}
.app-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 65px;
  height: auto;
  font-size: 20px;
  position: relative;
  padding-right: 70px;
  cursor: pointer;
}
.app-item.dragging > .app-box {
  opacity: 0;
}
.app-item.dragging .app-item__text {
  opacity: 0;
}
.app-item.dragging .app-item__btn {
  opacity: 0;
}
.app-item--done .app-item__text {
  text-decoration: line-through;
}
.app-item__btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  border: none;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
}
.app-item__btn > svg > path {
  transition: all .3s;
}
.app-item__text {
  padding: 10px 0;
}
.app .new-task__icon {
  display: none;
}
.app .new-task__btn:hover {
  background-image: url(./images/select-bg.jpg);
}
.app .new-task__btn:hover .new-task__icon {
  display: block;
}
.app-footer {
  padding: 0 22px;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 15px #0b0b0b75;
}
.app-footer__btn {
  border: none;
  outline: transparent;
  background-color: transparent;
  color: #76788d;
  cursor: pointer;
  transition: all .3s;
}
.app-footer__btn--active {
  color: #5281d9;
}
.app-footer__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  position: relative;
}
.app-footer__list {
  display: flex;
  gap: 15px;
}

.app__caption {
  color: #76788d;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  body {
    background-image: url(images/bg-mobile-dark.jpg);
  }
}
@media (max-width: 580px) {
  .wrapper {
    max-width: 450px;
  }

  .header {
    padding: 0 10px;
  }

  .app__new-todo > .app-box {
    display: none;
  }
  .app-box__form {
    width: 100%;
  }
  .app__todo-desc {
    padding: 0 20px;
    width: 100%;
  }
  .app-footer__container {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -22px;
    right: -22px;
    top: 80px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #0b0b0b75;
  }
  .app__caption {
    margin-top: 120px;
  }
}
