@media (max-width: 1060px) {
    .product__content {
        padding-left: 60px;
    }

    .btn--cart {
        padding: 17px 40px;
    }

    .cart__modal {
        right: -60px;
    }
}

@media (max-width: 960px) {
    .product__inner {
        margin-top: 40px;
        flex-direction: column;
        gap: 60px;
    }

    .product__content {
        padding-left: 0;
        max-width: 600px;
        margin: 0 auto;
    }

    .product__form {
        justify-content: center;
    }

    .btn--cart {
        padding: 17px 70px;
    }
}

@media (max-width: 850px) {

    .navigation {
        gap: 16px;

        &__burger-link {
            display: block;
        }

        &__list {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .user-panel {
        gap: 22px;
    }

    .cart__modal {
        border-radius: 10px;
        top: 95px;
        left: -270px;
        right: -70px;
    }

    .cart__title {
        padding: 0 0 50px 0;
    }

    .product-container {
        padding: 0;
    }

    .product__inner {
        margin-top: 0;
    }

    .product__prev-btn {
        display: block;
    }

    .product__next-btn {
        display: block;
    }

    .product__img-box {
        display: none;
    }

    .product__big-img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .product__content {
        padding: 0 22px;
    }

    .product__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
    }

    .product__desc {
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.56px;
    }

    .product__block-price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 34px;
    }

    .product__old-price {
        margin: 0;
        margin-left: auto;
    }

    .product__form {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product__buy-btn {
        width: 100%;
        padding: 17px 77px;
        margin: 27px auto 0;
    }

}