html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.header-container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__inner {
  padding: 33px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #F7F8FD;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}
.navigation__burger-link {
  width: 16px;
  height: 15px;
  position: relative;
  z-index: 10;
  display: none;
}
.navigation__burger-link--active {
  top: -25px;
  left: 10px;
}
.navigation__burger-link--active .navigation__burger-item:nth-child(1) {
  display: none;
}
.navigation__burger-link--active .navigation__burger-item:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navigation__burger-link--active .navigation__burger-item:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navigation__burger-link--active .navigation__burger-item:nth-child(4) {
  display: none;
}
.navigation__burger-item {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #69707D;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.navigation__burger-item:nth-child(1) {
  top: 5px;
}
.navigation__burger-item:nth-child(2) {
  top: 10px;
}
.navigation__burger-item:nth-child(3) {
  top: 10px;
}
.navigation__burger-item:nth-child(4) {
  top: 15px;
}
.navigation__logo {
  font-family: 'Outfit', sans-serif;
  color: #000;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 1.24px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 32px;
}
.navigation__item {
  color: #68707D;
  font-family: Kumbh Sans;
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}
.navigation__item::after {
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.navigation__item:hover {
  color: #1D2025;
}
.navigation__item:hover::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #FF7D1A;
  position: absolute;
  bottom: -55px;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.cart__link {
  display: block;
  position: relative;
}
.cart__link:hover .cart__modal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cart__count-label {
  width: 20px;
  height: 13px;
  border-radius: 9px;
  background-color: #FF7D1A;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
}
.cart__modal {
  max-width: 360px;
  min-height: 260px;
  background-color: #fff;
  padding: 0 24px 34px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  right: -140px;
  z-index: 3;
  padding-top: 40px;
  -webkit-box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}
.cart__title {
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 23px 0 50px 0;
  width: 100%;
  background-color: #fff;
}
.cart__product-box {
  margin-bottom: 26px;
}
.cart__product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 10px;
}
.cart__product-img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
.cart__empty {
  color: #68707D;
  font-size: 15px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.6px;
  width: 312px;
  text-align: center;
}
.cart__buy-btn {
  width: 312px;
}
.cart__product {
  font-weight: 500;
}
.cart__product-name {
  max-width: 215px;
}
.cart__product-total {
  font-weight: 700;
}

.cart__img path {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.cart__img:hover path {
  fill: #1D2025;
}

.avatar__img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #FF7D1A;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.avatar__img:hover {
  border: 2px solid #FF7D1A;
}

.product-container {
  max-width: 1047px;
  padding: 0 15px;
  margin: 0 auto;
}
.product__inner {
  margin: 91px 0 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__gallery {
  position: relative;
}
.product__big-img {
  max-width: 445px;
  height: 445px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}
.product__prev-btn {
  display: none;
  left: 16px;
}
.product__next-btn {
  display: none;
  right: 16px;
}
.product__img-box {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__item-wrapper {
  position: relative;
  cursor: pointer;
}
.product__item-wrapper::before {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.product__item-wrapper:hover::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}
.product__box-item {
  height: 88px;
  width: 88px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__content {
  padding-left: 126px;
}
.product__sub-title {
  color: #FF7D1A;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
.product__title {
  color: #1D2025;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  margin: 19px 0 35px;
}
.product__desc {
  color: #68707D;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 30px;
}
.product__price {
  color: #1D2025;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}
.product__sale {
  color: #FF7D1A;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  vertical-align: top;
  padding-left: 26px;
}
.product__old-price {
  color: #1D2025;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin: 10px 0 34px;
  text-decoration: line-through;
}
.product__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__btn {
  border: none;
  outline: transparent;
  background-color: #fff;
  cursor: pointer;
}
.product__buy-btn {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__input {
  width: 80px;
  border: none;
  outline: transparent;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.28px;
  text-align: center;
}

.btn--cart {
  background-color: #FF7D1A;
  color: #fff;
  padding: 17px 77px;
  -webkit-box-shadow: 0px 8px 10px 0px #FFEDE0;
          box-shadow: 0px 8px 10px 0px #FFEDE0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--prev {
  left: 0;
}
.btn--next {
  right: 0;
}

.selected {
  border-radius: 12px;
  border: 2px solid #FF7D1A;
  position: relative;
}
.selected::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: absolute;
  top: 0;
  z-index: 10;
}

.slider {
  max-width: 606px;
  height: 726px;
  padding: 44px 28px 0;
  position: relative;
}
.slider__close-btn {
  position: absolute;
  top: 0;
  right: 27px;
}
.slider__close-btn > svg path {
  fill: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.slider__close-btn:hover > svg path {
  fill: #FF7D1A;
}
.slider__big-img {
  max-width: 550px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
.slider__img-box {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.slider__box-item {
  height: 88px;
  width: 88px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__btn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  outline: transparent;
  cursor: pointer;
  position: absolute;
  top: 40%;
}
.slider__btn svg path {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.slider__btn:hover svg path {
  stroke: #FF7D1A;
}

.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  width: 250px;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.51px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.mobile-list .navigation__item:first-child {
  margin-top: 90px;
}
.mobile-list .navigation__item {
  margin-left: 25px;
}
.mobile-list .navigation__item:hover::after {
  height: 0;
  background-color: transparent;
}

.hide {
  display: none;
}

@media (max-width: 1060px) {
  .product__content {
    padding-left: 60px;
  }

  .btn--cart {
    padding: 17px 40px;
  }

  .cart__modal {
    right: -60px;
  }
}
@media (max-width: 960px) {
  .product__inner {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }

  .product__content {
    padding-left: 0;
    max-width: 600px;
    margin: 0 auto;
  }

  .product__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn--cart {
    padding: 17px 70px;
  }
}
@media (max-width: 850px) {
  .navigation {
    gap: 16px;
  }
  .navigation__burger-link {
    display: block;
  }
  .navigation__list {
    display: none;
  }
}
@media (max-width: 450px) {
  .user-panel {
    gap: 22px;
  }

  .cart__modal {
    border-radius: 10px;
    top: 95px;
    left: -270px;
    right: -70px;
  }

  .cart__title {
    padding: 0 0 50px 0;
  }

  .product-container {
    padding: 0;
  }

  .product__inner {
    margin-top: 0;
  }

  .product__prev-btn {
    display: block;
  }

  .product__next-btn {
    display: block;
  }

  .product__img-box {
    display: none;
  }

  .product__big-img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .product__content {
    padding: 0 22px;
  }

  .product__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }

  .product__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.56px;
  }

  .product__block-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 34px;
  }

  .product__old-price {
    margin: 0;
    margin-left: auto;
  }

  .product__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product__buy-btn {
    width: 100%;
    padding: 17px 77px;
    margin: 27px auto 0;
  }
}

/*# sourceMappingURL=style.css.map */