* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #c5e4e7;
  font-family: orbit, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: #3f6264;
  font-size: 18px;
  text-align: center;
  padding-bottom: 70px;
}

.calc {
  background-color: #fff;
  min-height: 480px;
  width: 920px;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  gap: 40px;
}
.calc-input {
  padding-right: 25px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.calc-input__title {
  margin-top: 0;
  font-size: 18px;
  color: #708483;
}
.calc-input__icon {
  position: absolute;
  height: 15px;
  top: 3px;
  left: 10px;
}
.calc-input__field {
  font-family: inherit;
  background-color: #f3f8fb;
  color: #00474b;
  width: 100%;
  height: 45px;
  padding: 10px 25px 10px 35px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  outline: #2bcfb6;
  border-radius: 5px;
}
.calc-input__field:focus {
  border: 2px solid #2bcfb6;
}
.calc-input__field--error {
  border: 2px solid #9e3131;
}
.calc-input__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.calc-input__btn {
  width: 120px;
  height: 50px;
  background-color: #00474b;
  color: #fff;
  border: none;
  margin-bottom: 16px;
  font-family: inherit;
  font-size: 26px;
  font-weight: 600;
  line-height: 46px;
  border-radius: 5px;
  cursor: pointer;
}
.calc-input__btn--custom {
  background-color: #f3f8fb;
  color: #596d6e;
}
.calc-output {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  background-color: #00474b;
  border-radius: 15px;
  flex: 0 1 50%;
  padding: 30px;
}
.calc-output__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calc-output__title {
  color: #fff;
  font-size: 22px;
  margin: 0;
}
.calc-output__text {
  color: #61969e;
  font-size: 18px;
  margin: 0;
}
.calc-output__panel {
  font-size: 50px;
  font-weight: 700;
  color: #2bcfb6;
}
.calc-output__btn {
  width: 90%;
  height: 50px;
  background-color: #fff;
  color: #596d6e;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  margin: 0 auto;
  cursor: pointer;
}
.calc-output__btn--disabled {
  background-color: #0d686d;
  color: #596d6e;
}

.input-label {
  position: relative;
}

.btn {
  position: relative;
  transition: all .3s;
}
.btn--select {
  background-color: #2bcfb6;
  color: #596d6e;
}
.btn--select + .custom-btn__input {
  display: block;
  border: 2px solid #2bcfb6;
}
.btn:hover {
  top: -2px;
  box-shadow: 3px 3px 7px black;
}
.btn:active {
  top: 0;
  box-shadow: 3px 3px 4px black;
}

.bill-input__message {
  position: absolute;
  top: -73px;
  right: 0;
  color: #9e3131;
  font-size: 18px;
}

.custom-btn {
  position: relative;
}
.custom-btn__input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 26px;
  font-weight: 600;
  line-height: 46px;
  color: #00474b;
  text-align: right;
}

@media (max-width: 1035px) {
  body {
    height: auto;
  }

  .main-title {
    padding-bottom: 30px;
  }

  .calc {
    flex-direction: column;
    width: 750px;
    height: auto;
  }

  .calc-input {
    padding-right: 0;
  }
  .calc-input__box {
    justify-content: space-around;
  }
  .calc-input__tip {
    padding-top: 15px;
  }
  .calc-input__btn {
    width: 285px;
    height: 80px;
  }

  .custom-btn__input {
    height: 80px;
  }

  .calc-output {
    min-height: 450px;
  }
}
@media (max-width: 800px) {
  .calc {
    width: 550px;
  }
}
@media (max-width: 600px) {
  .calc {
    width: 420px;
  }

  .calc-input__btn {
    height: 60px;
  }

  .custom-btn__input {
    height: 60px;
  }

  .calc-output__box {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 440px) {
  .calc {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
